*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,ol{
  list-style-type: none;
  padding-left: 0;
}
a{
  text-decoration: none;
}
header{
  text-align: center;
  h1{
    font-size: 200px;
    color: green;
  }
}
main{
  margin-top: 100px;
  text-align: center;
  h1{
    font-size: 100px;
    color: green;
  }
}
footer{
  margin-top: 100px;
  text-align: center;
  color: green;
}
.App button{
  width: 200px;
  background-color: black;
  color: green;
  height: 30px;
}
.light{
  background-color: rgb(255, 255, 255);
}
.dark{
  background-color: black;
}